.h-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #60aebc;
    padding: 0 1rem;
    box-sizing: border-box;
}

.o-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.o-nav__logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.o-nav__items ul {
    margin: 0 0 0 1.5rem;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.o-nav__items li {
    margin: 0 .5rem;
}

.o-nav__items a,
.o-nav__items button {
    text-decoration: none;
    color: white;
    border: 0;
    font: inherit;
    background: transparent;
    cursor: pointer;
}

.o-nav__items a:hover,
.o-nav__items a:active,
.o-nav__items a.active,
.o-nav__items button:hover,
.o-nav__items button:active  {
    color: #faea5d;
} 