@import '@settings/variables.scss';

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-selago;
}

.form {
    width: 300px;
}

.form .o-form__control {
    margin-bottom: 10px;
    display: block;
}

.form label {
    display: none;
}