

// Colors
$color-selago: #E8F0FC;
$color-jackson-purple: #252791;
$color-royal-blue: #474BE6;
$color-port-gore: #242559;
$color-sunglo: #E86F6D;
$color-delta: #AAA99F;
$color-cold-turkey: #C7ADAE;
$color-blue-violet: #4B52B3;

$color-white: #FFFFFF;

$color-input-field: $color-white;

$color-button-background: $color-royal-blue;